.contact-hero {
  background-image: url('../img/contact.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 85vh;
       @media (max-width: 992px){
      min-height: auto;
    }
}

#message {
  height: 10rem; // o la altura que quieras
}

.contact-info-section {
  padding: 4rem 0;
  color: #ffffff;
}

.contact-info-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  max-width: 75rem;
  margin: auto;
  flex-wrap: wrap;
}

.contact-info-text {
  flex: 1;

  h2 {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
  }
}

.contact-info-image {
  flex: 1;    


  img {
    width: 100%;
    max-width: 770px;
    height: auto;
    border-radius: 1rem;
  }
}

    
.contact-info-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  max-width: 75rem;
  margin: auto;
  flex-wrap: wrap;

   @include respond-to('mobile') {
    flex-direction: column;     // apilar texto + imagen
    text-align: left;         // centrar texto

    .contact-info-text,
    .choose-car-image {
      width: 100%;              // ocupar todo el ancho
    }

    .choose-car-image {
      margin-top: 1.5rem;       // separación entre texto e imagen
    }
  }
}