// pages/_locations.scss
.location-hero {
  background-image: url('../img/LocationBG.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ny-card {
  background-image: url('../img/newYork.png');
  background-size: cover;
  background-position: center;
}

.la-card {
  background-image: url('../img/losAngeles.png');
  background-size: cover;
  background-position: center;
}

.orlando-card {
  background-image: url('../img/orlando.png');
  background-size: cover;
  background-position: center;
}

.chicago-card {
  background-image: url('../img/chicago.png');
  background-size: cover;
  background-position: center;
}

.miami-card {
  background-image: url('../img/miami.png');
  background-size: cover;
  background-position: center;
}
