// pages/_vehicles.scss
.vehicles-hero  {
  width: 100%;
  background-image: url('../img/tesla.png');
  background-size: cover;
  background-position: center calc(50% - 20vh);
  background-repeat: no-repeat;
  min-height: 70vh;

      @include respond-to('mobile'){
      background-position: center ;
        min-height:50vh;
    }
}

.choose-car-section {
  padding: 4rem 0;
  color: $color-light;
}

.choose-car-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  max-width: 75rem;
  margin: auto;
  flex-wrap: wrap;

   @include respond-to('mobile') {
    flex-direction: column;     // apilar texto + imagen
    text-align: left  ;         // centrar texto

    .choose-car-text,
    .choose-car-image {
      width: 100%;              // ocupar todo el ancho
    }

    .choose-car-image {
      margin-top: 1.5rem;       // separación entre texto e imagen
    }
  }
}

.choose-car-text {
  flex: 1;
}

.choose-car-image {
  flex: 1;
}

.choose-car-image img {
  width: 100%;
  max-width: 770px;
  height: auto;
  border-radius: 1rem;
}
